<div class="page--landing"
     layout="column">
    <md-toolbar class="page__toolbar"
                layout="row" layout-align="space-between center"
                md-scroll-shrink="true">
        <div class="toolbar__leftside">
            <span class="toolbar__logo"
                  translate="app_label"></span>
        </div>
        <div class="toolbar__rightside"></div>
    </md-toolbar>
    <md-content class="timeline"
                layout="column">
        <div class="timeline"
             layout-fill
             layout="row" layout-align="start center">
            <div class="timeline__container--left"
                 layout="column">
                <portfolio-project ng-repeat="project_info in page.portfolio.left"
                                   data-info="project_info"></portfolio-project>
            </div>
            <div class="timeline__vertical-line"></div>
            <div class="timeline__container--right"
                 layout="column">
                <portfolio-project ng-repeat="project_info in page.portfolio.right"
                                   data-info="project_info"></portfolio-project>
            </div>
        </div>
        <www-mserrano-footer></www-mserrano-footer>
    </md-content>
</div>
