@import 'Const';

.page--landing {
    .action-menu {
        min-width: 36%;
        margin: $unit*8 0;
        padding: $unit*4;

        background: $white;
        border-radius: $unit/4;
        font-size: 32px;
        text-align: center;

        opacity: 0.96;

        .sitedown__decor {
            font-weight: 600;
        }
        .sitedown__text {
        }
    }
    .page__toolbar {
        &.pin-to-top {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9001;
        }
    }
    .page__content {
        &.mobile-menu-is-active {
            margin-top: 10.84px !important;
        }
    }
    .page__footer {
        transition: all 0.2s ease-out;

        opacity: 1.0;
        transform: translateX(0);

        &.pin-to-bottom {
            opacity: 0;
            transform: translateX(42px);
        }
    }
}
.Safari .page--landing {
    $offset-toolbar: $height-toolbar * (0 - 1);
    $offset-content: $height-toolbar * ($scroll-factor - 1);
    $offset-content-margin: $height-toolbar * ($scroll-factor - 0);

    .page__toolbar {
        transform: translate3d(0px, $offset-toolbar, 0px);

        &.force-show-navbar {
            transform: translate3d(0px, 0px, 0px) !important;
        }
        &.force-show-footer {
            transform: translate3d(0px, $offset-toolbar, 0px)  !important;
        }
    }
    #scroll-container.page__content {
        margin-top: -1 * $offset-content-margin;
        margin-bottom: -1 * $offset-content-margin;

        transform: translate3d(0px, $offset-content, 0px);

        &.force-show-navbar {
            transform: translate3d(0px, $offset-content-margin, 0px) !important;
        }
        &.force-show-footer {
            transform: translate3d(0px, $offset-content, 0px) !important;
        }
    }
}

.timeline {
    $timeline-project-offset: 150px;

    display: block;
    width: 100%;
    
    @include layout('gt-sm') {
        margin-top: $landing-gutter-size + $timeline-project-offset;
    }
    .timeline__entry {
        min-height: 100px;

        @include layout('gt-sm') {
            margin-top: -1 * $timeline-project-offset;
        }
    }
}
