@import 'Const';

.md-dialog-container {
    md-dialog {
        background: rgba($black, 0.8);
        box-shadow: none;
    }
    video {
        margin: auto;
        width: 100%;
        overflow: hidden;
    }
}
