@import 'Const';

$footer-color-theme: #020202;
$footer-color-primary: rgba($footer-color-theme, 0.5);
$footer-color-accent: rgba(#4d4d4d, 0.7);
$footer-color-text: #c7c7c7;
$footer-color-text-subtle: #b6b6b6;
$footer-color-solid-bottom: #080808;
$footer-color-err-red: $red-bower;

@mixin footer-border-divider($side, $opacity) {
    // utilize Sass interpolation #{}
    border-#{$side}: 1px solid rgba($footer-color-text-subtle, $opacity);
}

.footer {
    display: block;
    background: $footer-color-accent;
    text-shadow: -1px 1px 2px $black;

    &, .top, .mid, .bot, .bot .contact-me {
        width: 100%;
    }
    .top {
        display: flex;
        padding: $unit*2;
        border-top: 2px solid rgba($footer-color-text-subtle, 0.4);
        @include footer-border-divider('bottom', 0.2);

        line-height: 21px;
        background: $footer-color-primary;
        color: $footer-color-text;

        .us-flag {
            height: 11px;
            width: 16px;
        }
        .copy-left {
            padding-right: $unit;
        }
    }
    .mid {
        display: flex;
        padding: $unit;
        box-shadow: inset -15px 0px 100px 20px $footer-color-primary;
        color: $footer-color-text-subtle;

        .title {
            display: block;
            margin: $unit;
            font-weight: 700;
            color: $footer-color-text-subtle;
            cursor: default;
            touch-callout: none;
            user-select: none;
        }
        .content {
            margin: $unit;
            font-size: 14px;
            color: $footer-color-text-subtle;

            p {
                margin: 0;
            }
        }

        [class^="mid__block"] {
            max-height: fit-content;
        }
        .mid__block--permission {
            display: block;
            max-height: 150px;

            .input-wrapper {
                margin: $unit*2 0 0 0;
            }
            .input {
                width: 85%;
                @include layout('xs') {
                    width: 95%;
                }
                margin: $unit*2 0 0 $unit/2;
                font-weight: 700;

                .input__label {
                    padding: $unit/2 0;
                    color: $footer-color-text;

                    &:after {
                        color: transparent;
                        text-shadow: none;
                    }
                }
                .input__field {
                    color: $white;
                    font-size: 15px;
                    border-color: $footer-color-text;
                }
                .md-errors-spacer {
                    min-height: 0;
                }
            }
            .input.md-input-invalid {
                .input__label:after {
                    color: $footer-color-err-red;
                }
                .input__field {
                    border-color: $footer-color-err-red;
                }
            }
            .send-request-btn {
                height: 31px;
                min-width: 50px;
                margin-top: 14px;
                transition: all 0.42s ease;
                border: 1px solid $footer-color-text-subtle;
                border-bottom: 2px solid $footer-color-text-subtle;
                color: $color-secondary-dark0;
                cursor: not-allowed;

                &.disabled {
                    border-color: $footer-color-text;
                    color: $footer-color-text;
                    cursor: not-allowed;
                    text-decoration: line-through;
                }
                &.invalid-email {
                    border-color: $footer-color-err-red;
                    color: $footer-color-err-red;
                    cursor: not-allowed;
                    text-decoration: none;
                }
                &.valid-email {
                    border-color: #00A861;
                    color: #00c0ac;
                    cursor: pointer;
                }
            }
        }
        .mid__block--about-me {
            @include layout('xs') {
                @include footer-border-divider('top', 0.3);
                @include footer-border-divider('bottom', 0.3);
            }

            .content {
                margin-top: 0;
            }
            .portrait {
                height: 126px;
                width: 126px;
                margin: $unit;
                border-radius: $unit/2;

                background: url('/resources/img/ENTslug.jpg');
                background-repeat: no-repeat;
                background-size: 100%;

                cursor: url('/resources/icon/thumbs-up-white.svg'), auto;
            }
        }
        .mid__block--navigation {
            width: 100%;

            .title {
                @include layout('xs') {
                    text-align: center;
                }
            }
            .nav-list {
                width: 100%;
                margin: $unit;
                padding: 0;
                list-style: none;

                .nav-list__item {
                    max-height: fit-content;
                    width: 100%;
                    outline: 0;

                    &.coming-soon .item__btn {
                        cursor: help;
                    }
                }
                .item__btn {
                    width: 90%;

                    margin: 0 0 0 $unit*-1;
                    padding: 0 $unit*1.5;
                    @include layout('gt-xs') {
                        min-height: 20px;
                        max-height: 20px;
                        line-height: 20px;

                        text-align: left;
                        padding: 0 $unit*2;
                    }

                    text-transform: inherit;
                    color: $footer-color-text-subtle;
                }
            }
        }
    }
    .bot {
        display: flex;
        @include footer-border-divider('top', 0.3);

        background: $footer-color-solid-bottom;

        .md-button {
            margin: 0;
            padding: $unit 0;

            md-icon {
                min-height: $unit*4;
                color: $footer-color-text;
            }
        }
    }
}
md-tooltip[md-visible="footer.show_tooltip"] {
    margin: 0 0 0 $unit*8 !important;
    position: relative;
    padding: $unit $unit*2;

    span {
        font-size: 14px;
        font-weight: bold;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-color: rgb(97,97,97);
        border-bottom: 0;
        border-left: 0;
        margin-left: 10px;
        margin-bottom: -10px;
    }
}