<md-card class="portfolio-project"
         md-theme="default" md-theme-watch>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline"
                  ng-bind="project.title | translate"></span>
            <span class="md-subhead"
                  layout="row" layout="start center">
                <md-icon md-svg-icon="project:at-sign" aria-label="organization"></md-icon>
                <span ng-bind="project.org"
                      flex></span>
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content layout="row" layout-align="space-between">
        <div class="project__thumbnail md-media-xl card-media"
             ng-cloak
             layout="column">
            <md-button class="lock-image"
                       ng-show="template.requires_access === true"
                       ng-click="template.how_to_unlock()"
                       aria-label="how to unlock full portfolio">
                <img src="resources/img/locked.png" />
            </md-button>
        </div>
        <md-card-actions layout="column" layout-align="start start">
            <md-button class="md-icon-button" aria-label="View Private Details">
                <md-icon md-svg-icon="project:video" aria-label="View Private Details"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="More Project Details">
                <md-icon md-svg-icon="project:desc" aria-label="More Project Details"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Link to Project"
                       ng-disabled="(template.is_disabled('url') === false)"
                       ng-href="{{project.url}}"
                       target="_blank">
                <md-tooltip ng-if="project.note"
                            md-direction="left">
                    <span ng-bind="project.note"></span>
                </md-tooltip>
                <md-icon md-svg-icon="project:link" aria-label="Link to Project"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Project GitHub Repo"
                       ng-disabled="(template.is_disabled('git_repo') === false)"
                       ng-href="{{project.git_repo}}"
                       target="_blank">
                <md-icon md-svg-icon="project:github" aria-label="Project GitHub Repo"></md-icon>
            </md-button>
        </md-card-actions>
    </md-card-content>
</md-card>
