@import 'Const';

md-toolbar.www-mserrano-toolbar {
    outline: 0;
    background-color: rgba($color-primary, 0.6);
    border-bottom: 6px solid rgba($color-secondary, 0.6);
    box-shadow: 
        0 5px 5px -3px rgba(0,0,0,.2), 
        0 8px 10px 1px rgba(0,0,0,.14), 
        0 3px 14px 2px rgba(0,0,0,.12);
}
.toolbar {
    padding: 0;
    .toolbar__title {
        padding: 0 $unit;
        @include layout('gt-xs') {
            padding: 0 $unit*2;
        }

        .custom-breakpoint--else {
            @media screen and (max-width: 349px) {
                display: none;
            }
        }
        .custom-breakpoint--mobile {
            @media screen and (min-width: 350px) {
                display: none;
            }
        }
    }
    .toolbar__btn md-icon {
        height: 36px;
    }
    .toolbar__menu--desktop {
        @include layout('xs') {
            display: none;
        }
    }
    .toolbar__menu--mobile {

        .toolbar__btn {
            margin: 0;
            padding: 0;
        }
    }
}
body {
    md-bottom-sheet {
        max-height: 80%;
        padding: 0;
        margin-bottom: $unit*10;

        overflow-y: scroll;
        background: transparent;
    }
    md-backdrop.md-opaque {
        opacity: 0.9;
    }
}
